DATABASE_URL=postgresql://username:160061@localhost:5432/bookit_db
JWT_SECRET=324cda322f2c45d6b0485536188d3940d4979da139df7206667b699b9b1256f1
JWT_EXPIRES_IN=7d
RESEND_API_KEY=re_9YRC1tEu_JS62M9mo92nofqcS3A7Gh6Ud
EMAIL_FROM=BookIt <notifications@yourdomain.com>
FRONTEND_URL=http://localhost:3000
PORT=5000
NODE_ENV=development
